@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #191919;
  min-height: 100vh;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 0.125rem 0.25rem rgb(25 25 25 / 8%);
  background-color: #fff;
}

button.menu:hover {
  border-color: #e8e8e8;
}

button.menu:focus {
  box-shadow: none;
}

.logo {
  height: 2.25rem;
}

.header-link {
  color: #19191980;
  text-decoration: none;
  font-weight: 500;
}

.socials {
  display: flex;
}

.socials img {
  height: 20px;
  margin: 8px;
}

a.darker {
  background-color: #0f47e6;
  font-weight: 500;
  border-color: #0f47e6;
}

a.darker-outline {
  font-weight: 500;
  border: 2.5px solid #0f47e6;
  color: #0f47e6;
}

a.darker:hover {
  background-color: #0d3cc2;
  border-color: #0d3cc2;
}

.darker-outline:hover {
  background-color: #dae0e5;
  border-color: #0c38b6;
  color: #0f47e6;
}

.navbar-personalized {
  align-items: center;
  align-content: center;
}

.header-item {
  margin: 0 16px;
}

video {
  border-radius: 0.3rem;
  max-width: 100%;
}

.title {
  color: #191919;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
}

@media (max-width: 575px) {
  .title {
    font-size: 28px;
  }
}

.medium {
  font-weight: 500;
}

.how-it-work-section {
  background-color: #0f47e6;
  min-width: 100%;
  color: #fff;
}

.baseball-img {
  height: 275px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.3rem;
}

.baseball-img-top {
  height: 280px;
}

.icon {
  min-width: 50px;
  width: 8%;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.check-out-section {
  background-color: #f3f6ff;
  text-align: center;
}

.why-vantage-section {
  text-align: center;
}

.why-vantage-icon {
  height: 80px;
}

.join-team-section {
  background-image: url('./l/bg_join.jpeg');
  background-position: 50%;
  background-repeat: no-repeat;
  height: 18rem;
  text-align: center;
  border-radius: 0.3rem;
}

a.light-button {
  font-weight: 500;
  color: #0f47e6;
}

a.light-button:hover {
  background-color: #dae0e5;
  color: #0c38b6;
}

.socialproof-icon {
  height: 40px;
}

.socialproof-icon-last {
  display: block;
  height: 70px;
  width: 100px;
}

.list-link {
  text-decoration: none;
  line-height: 24px;
  color: #191919;
  padding-top: 3px;
  padding-bottom: 3px;
}

footer h5 {
  color: #0f47e6;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 10px;
}

footer .darker-outline {
  border: 1px solid #0f47e6;
}

.media-section {
  font-weight: 500;
}

.coach-img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.3rem;
  height: 260px;
}

.coach-img.jared {
  object-position: 50% 0;
}

.coach-img.ben {
  object-position: 20% 0;
}

.coaches-link {
  text-decoration: none;
  color: #0f47e6;
}

.coaches-link:hover {
  color: #0a319e;
}

.arrow:hover {
  cursor: pointer;
}

.coach-content {
  max-width: 192px;
}

.coach-content {
  display: block;
  visibility: visible;
  max-width: 20%;
}

.why-people-love-vantage-section {
  background-color: #0f47e6;
}

.reviewer-img {
  height: 70px;
  width: 70px;
}

.review {
  max-width: 45rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

div.review-container {
  min-height: 320px;
}

@media only screen and (max-width: 992px) {
  .coach-content:nth-last-child(-n + 2) {
    display: none;
    visibility: hidden;
  }

  .coach-content {
    max-width: 33%;
  }
}

@media only screen and (max-width: 768px) {
  .coach-content:nth-last-child(-n + 3) {
    display: none;
    visibility: hidden;
  }

  .coach-content {
    max-width: 50%;
  }
}

@media only screen and (max-width: 384px) {
  .coach-content:nth-last-child(-n + 4) {
    display: none;
    visibility: hidden;
  }

  .coach-content {
    max-width: 100%;
  }
}
