@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,600;1,400;1,600&family=Playfair+Display:wght@400;500&family=Sen:wght@700&display=swap');

$font-hero: 'Playfair Display', serif;
$font-standard: 'Muli', san-serif;
$font-logo: 'Sen', san-serif;
