#reschedule-training {
  .event-details-section {
    margin-bottom: 16px;
    padding-bottom: 0;
  }

  .submit-btn {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    box-shadow: 2px 2px 20px #0000003b;
    border-radius: 5px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
